html{
	font-size: 100px;
	font-family: 'Arial';
}

#invalidEmail{
	color: red;
	font-family: 'Scada';
}

#form{
	font-family: 'Scada';
	position:absolute;
	float:left;
}

#map{
	width: 60%; height: 100%;
	margin: 0 auto;
}
